#login {
  padding-top: 50px;
  padding-bottom: 50px;
}
.form-wrapper {
  padding: 40px 40px;
  border: 1px solid #ccc;
  border-radius: 10px;
  background-color: #f2f2f2;
}
.form-heder {
  border-bottom: 1px solid #ccc;
}
.form-box label {
  margin-top: 15px;
}
.form-box span {
  color: brown;
  display: block;
}
.password-input {
  position: relative;
}
.show-password-btn {
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
  cursor: pointer;
}
.show-password-btn svg {
  width: 18px;
  height: 18px;
}
