.product {
  padding-top: 60px;
  padding-bottom: 70px;
}
.product-image {
  width: 634px;
  height: 500px;
  border-radius: 8px;
  overflow: hidden;
}
.product-image img {
  width: 100%;
  height: 80%;
  object-fit: cover;
}
.details {
  margin-left: 30px;
  border-bottom: 1px solid #a7a7a7;
  padding-bottom: 30px;
}
.bread-crumb p {
  font-size: 18px;
  color: #a7a7a7;
}
.bread-crumb span {
  color: #f46b5b;
}
.rate-and-wish {
  display: flex;
  justify-content: space-between;
}
.rate {
  display: flex;
  gap: 10px;
  align-items: center;
}
.star {
  display: flex;
  height: 30px;
  align-items: center;
  gap: 5px;
}
.star span {
  font-size: 18px;
  color: #383838;
  margin-top: 5px;
}
.review span {
  font-weight: 400;
  font-size: 18px;
  color: #a7a7a7;
  line-height: 27px;
}
.sold span {
  font-weight: 400;
  font-size: 18px;
  color: #a7a7a7;
  line-height: 27px;
}
.line {
  color: #a7a7a7;
}
.wish {
  gap: 10px;
  display: flex;
}
.heart {
  cursor: pointer;
}
.add-wish p {
  font-size: 18px;
  line-height: 27px;
  color: #383838;
}
.product-name {
  color: #383838;
  font-size: 36px;
  line-height: 54px;
  margin-top: 8px;
}
.product-price {
  display: flex;
  gap: 10px;
  align-items: center;
}
.product-price .price h5 {
  font-size: 700;
  line-height: 54px;
  font-size: 36px;
  color: #383838;
}
.product-price .discount span {
  font-weight: 400;
  font-size: 18px;
  color: #a7a7a7;
  line-height: 27px;
  text-decoration: line-through;
}
.product-price .save {
  padding: 5px 10px;
  border: 1px solid #f46b5b;
  border-radius: 8px;
}
.product-price .save span {
  font-weight: 500;
  font-size: 18px;
  color: #f46b5b;
  font-size: 18px;
  line-height: 27px;
}
.product-info {
  display: flex;
  justify-content: space-between;
  padding-right: 50px;
  gap: 15px;
}
.delivery {
  display: flex;
  gap: 10px;
  align-items: center;
}
.delivery span {
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  color: #383838;
}
.voucher {
  display: flex;
  gap: 10px;
  align-items: center;
}
.voucher span {
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  color: #383838;
}
.stock {
  display: flex;
  gap: 10px;
  align-items: center;
}
.stock span {
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  color: #383838;
}
.product-description {
  margin-left: 30px;
  padding-top: 20px;
}
.product-description h4 {
  font-size: 18px;
  line-height: 27px;
  color: #383838;
}
.product-description p {
  font-weight: 400;
  font-size: 18px;
  line-height: 32px;
  color: #a7a7a7;
}
.add-card {
  display: flex;
  gap: 50px;
  margin-left: 30px;
  margin-top: 60px;
}
.quantity {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 15px;
}
.quantity span {
  font-size: 18px;
  color: #a7a7a7;
  line-height: 27px;
}
.quantity button {
  border: none;
  width: 50px;
  height: 50px;
  border-radius: 8px;
  font-size: 16px;
}
.quantity button:last-child {
  background-color: #f46b5b;
  color: #fff;
}

.add-btn {
  display: flex;
  flex-direction: row;
  gap: 25px;
}
.add-btn button:first-child {
  padding: 12px 16px;
  border: none;
  border: 1px solid #f46b5b;
  background-color: transparent;
  border-radius: 8px;
  color: #f46b5b;
  transition: all linear 0.3s;
}
.add-btn button:first-child:hover {
  background-color: #f46b5b;
  color: #fff;
}
.add-btn button:last-child {
  background-color: #f46b5b;
  border: none;
  color: #fff;
  padding: 0px 15px;
  border-radius: 8px;
}
.show-review {
  margin-top: 60px;
}
.review-menu ul {
  display: flex;
  gap: 20px;
  padding-left: 0px;
}
.review-menu ul li {
  list-style: none;
  transition: all 0.3s;
  font-size: 24px;
}
.review-menu ul li:hover {
  cursor: pointer;
}
.active {
  color: #f46b5b;
}
.reviewer-name h3 {
  color: #383838;
  font-size: 22px;
  line-height: 27px;
  font-weight: 500;
}
.rating-date {
  display: flex;
  align-items: center;
  gap: 20px;
}
.rating-date .rating {
  display: flex;
  align-items: center;
  gap: 5px;
}
.rating-date .rating span {
  color: #f46b5b;
  font-size: 18px;
  line-height: 27px;
  margin-top: 5px;
}
.rating-date .date span {
  font-weight: 400;
  color: #615e5b;
  font-size: 15px;
}
.review-description p {
  font-size: 17px;
  line-height: 27px;
  color: #515151;
  margin-top: 10px;
}
.add-review-wrapper {
  margin-left: 30px;
}
.add-review-header h4 {
  font-weight: 700;
  font-size: 18px;
  color: #383838;
}
.add-review-header p {
  font-size: 16px;
  line-height: 27px;
  color: #a7a7a7;
}
.input-form span {
  color: #f46b5b;
}
.send-rating {
  display: flex;
  gap: 8px;
  margin-top: 20px;
}
.send-rating h5 {
  margin-top: 5px;
}
/* ===========swiper start=========== */
.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.swiper {
  width: 100%;
  height: 300px;
  margin-left: auto;
  margin-right: auto;
}

.swiper-slide {
  background-size: cover;
  background-position: center;
}

.mySwiper2 {
  height: 80%;
  width: 100%;
}

.mySwiper {
  height: 20%;
  box-sizing: border-box;
  padding: 10px 0;
}

.mySwiper .swiper-slide {
  width: 25%;
  height: 100%;
  opacity: 0.4;
}

.mySwiper .swiper-slide-thumb-active {
  opacity: 1;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.thumbails {
  padding: 20px 100px;
}
/* swiper end */

.review-wrapper {
  width: 100%;
  max-height: 500px;
  overflow-y: auto;
}
.review-item {
  border-bottom: 1px solid #eee;
}
